
<%-include("../adminlayouts/header.ejs")-%>

  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
        <img src="/public/admin/img/logo-white.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white"></span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <!-- <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main"> -->
      <div class="" id="sidenav-collapse-main">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/dashboard">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  " href="/admin/salesreport">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Sales Report</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  " href="/admin/customers">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Customers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-gradient-primary " href="/admin/categories">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/products">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">view_in_ar</i>
            </div>
            <span class="nav-link-text ms-1">Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/orders">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
            </div>
            <span class="nav-link-text ms-1">Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/coupons">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/offer">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1">Offers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/banner">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Banners</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/logout">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">login</i>
            </div>
            <span class="nav-link-text ms-1">Logout</span>
          </a>
        </li>
       
      </ul>
    </div>
    
  </aside>



  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
         
          <!-- <span class="badge badge-sm" style="background-color:#e91e63;">
            <a class="nav-link text-white text-capitalize" href="/admin/addcategories "style="color: white !important">add category</a>
        </span> -->
     
          
        
        
        
          <h6 class="font-weight-bolder mb-0">
          
          </h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline flex-grow-1">
                <form class="search1">
                    <input type="text" placeholder="Search categories" name="search">
                    <input type="submit" value="search">
                </form>
            </div>
           
        </div>
        
        
        
        
        
        
        
          <ul class="navbar-nav  justify-content-end">
           
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    


    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center">
                <h6 class="text-white text-capitalize ps-3">Categories</h6>
                 <div class="ms-3 d-flex align-items-center">
                  <a href="/admin/addcategories" class="btn btn-sm btn-outline-primary text-capitalize text-white" style="text-decoration: none; cursor: pointer; width: 150px;">
                      Add Category->>
                  </a>
              </div>
               
            </div>
            
              
            </div>
            <div class="card-body px-0 pb-2">
              

              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (categories.length > 0) { %>
                      <!-- Loop through and display categories -->
                      <% for (let i = 0; i < categories.length; i++) { %>
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm"><%= categories[i].category_name %></h6>
                                <p class="text-xs text-secondary mb-0"></p>
                              </div>
                              <div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-xs font-weight-bold mb-0"><%= categories[i].category_description %></p>
                            <p class="text-xs text-secondary mb-0"></p>
                          </td>

                          <td class="align-middle text-center text-sm">
                            <% if (categories[i].is_listed === false) { %>
                                <a href="javascript:void(0);" onclick="showConfirmationModal('<%= categories[i]._id %>')">
                                    <button type="button" class="btn btn-inverse-success btn-fw">List</button>
                                </a>
                            <% } else { %>
                                <a href="javascript:void(0);" onclick="showConfirmationModal('<%= categories[i]._id %>')">
                                    <button type="button" class="btn btn-inverse-danger btn-fw">Unlist</button>
                                </a>
                            <% } %>
                        </td>

                          
                          <td class="align-middle">
                            <a href="/admin/editcategory?id=<%=categories[i]._id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                              Edit
                            </a>
                          </td>
                        </tr>
                      <% } %>
                    <% } else { %>
                      <!-- Display no data placeholder when there are no results -->
                      <tr>
                        <td colspan="4" class="text-center">No categories found.</td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>

                <form id="listUnlistForm" action="/admin/unlistCategory" method="post">
                  <!-- Hidden input to store category ID -->
                  <input type="hidden" name="id" id="categoryIdInput" value="">
                </form>
                
              </div>
              

            </div>
          </div>
        </div>
      </div>
    
      <div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    
                </div>
                <div class="modal-body">
                    Are you sure you want to perform this action?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelAction">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmAction">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    
    
      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
              <% if (i === currentPage) { %>
                <li class="page-item active" aria-current="page">
                  <span class="page-link"><%= i %><span class="sr-only">(current)</span></span>
                </li>
              <% } else { %>
                <li class="page-item"><a class="page-link" href="?page=<%= i %>&search=<%= search %>"><%= i %></a></li>
              <% } %>
            <% } %>
          </ul>
        </nav>
      </div>


      
     
    </div>




    




  </main>
 
  <!--   Core JS Files   -->
  <script src="/public/admin/js/core/popper.min.js"></script>
  <script src="/public/admin/js/core/bootstrap.min.js"></script>
  <script src="/public/admin/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/public/admin/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/public/admin/js/material-dashboard.min.js?v=3.0.0"></script>



  <script>
    // Function to set the category ID and show the confirmation modal
    function showConfirmationModal(categoryId) {
        // Set the category ID to the hidden input field
        document.getElementById('categoryIdInput').value = categoryId;
        document.getElementById('confirmationModal').style.display = 'block';
    }

    // Handle the confirmation action without AJAX
    document.getElementById('confirmAction').addEventListener('click', function () {
        // Submit the form
        document.getElementById('listUnlistForm').submit();

        // Close the confirmation modal
        document.getElementById('confirmationModal').style.display = 'none';
    });

    // Handle the cancel action
    document.getElementById('cancelAction').addEventListener('click', function () {
        // Close the modal
        document.getElementById('confirmationModal').style.display = 'none';
    });

    // Close the modal if clicked outside the modal content
    window.addEventListener('click', function (event) {
        const modal = document.getElementById('confirmationModal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    });
</script>


  <%-include("../adminlayouts/footer.ejs")-%>