<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 09:38:23 GMT -->

<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shop Cart | Ruper</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/public/usernew/media/favicon.png">

	<!-- Dependency Styles -->
	<link rel="stylesheet" href="/public/usernew/libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/mmenu/css/mmenu.min.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/libs/slider/css/jslider.css">

	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="/public/usernew/assets/css/app.css" type="text/css">
	<link rel="stylesheet" href="/public/usernew/assets/css/responsive.css" type="text/css">

	<!-- Google Web Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
		rel="stylesheet">
</head>

<body class="shop">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v1 absolute">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="index.html">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-right">
								<div class="ruper-topcart dropdown">
									<div class="dropdown mini-cart top-cart">
										<div class="remove-cart-shadow"></div>
										<a class="dropdown-toggle cart-icon" href="#" role="button"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<div class="icons-cart"><i class="icon-large-paper-bag"></i><span
													class="cart-count">2</span></div>
										</a>
										<div class="dropdown-menu cart-popup">
											<div class="cart-empty-wrap">
												<ul class="cart-list">
													<li class="empty">
														<span>No products in the cart.</span>
														<a class="go-shop" href="shop-grid-left.html">GO TO SHOP<i
																aria-hidden="true" class="arrow_right"></i></a>
													</li>
												</ul>
											</div>
											<div class="cart-list-wrap">
												<ul class="cart-list ">
													<li class="mini-cart-item">
														<a href="#" class="remove" title="Remove this item"><i
																class="icon_close"></i></a>
														<a href="shop-details.html" class="product-image"><img
																width="600" height="600" src="media/product/3.jpg"
																alt=""></a>
														<a href="shop-details.html" class="product-name">Chair Oak Matt
															Lacquered</a>
														<div class="quantity">Qty: 1</div>
														<div class="price">$150.00</div>
													</li>
													<li class="mini-cart-item">
														<a href="#" class="remove" title="Remove this item"><i
																class="icon_close"></i></a>
														<a href="shop-details.html" class="product-image"><img
																width="600" height="600" src="media/product/1.jpg"
																alt=""></a>
														<a href="shop-details.html" class="product-name">Zunkel
															Schwarz</a>
														<div class="quantity">Qty: 1</div>
														<div class="price">$100.00</div>
													</li>
												</ul>
												<div class="total-cart">
													<div class="title-total">Total: </div>
													<div class="total-price"><span>$100.00</span></div>
												</div>
												<div class="free-ship">
													<div class="title-ship">Buy <strong>$400</strong> more to enjoy
														<strong>FREE Shipping</strong></div>
													<div class="total-percent">
														<div class="percent" style="width:20%"></div>
													</div>
												</div>
												<div class="buttons">
													<a href="shop-cart.html"
														class="button btn view-cart btn-primary">View cart</a>
													<a href="shop-checkout.html"
														class="button btn checkout btn-default">Check out</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="shop-grid-left.html"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="page-my-account.html"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="shop-wishlist.html"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container p-l-r">
							<div class="row">
								<div class="col-xl-3 col-lg-2 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-logo">
										<a href="index.html">
											<img width="400" height="79" src="/public/usernew/media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item menu-item-has-children mega-menu">
													<a href="/"><span class="menu-item-text">Home</span></a>
													<div class="sub-menu">
														<div class="row">
															<div class="col-md-6">
																<div class="menu-section">
																	<h2 class="sub-menu-title">Furniture 1</h2>
																	<ul class="menu-list">
																		<li>
																			<a href="index.html"><span
																					class="menu-item-text">Home
																					Categories</span></a>
																		</li>
																		<li>
																			<a href="index2.html"><span
																					class="menu-item-text">Home
																					Clean</span></a>
																		</li>
																		<li>
																			<a href="index3.html"><span
																					class="menu-item-text">Home
																					Collection</span></a>
																		</li>
																		<li>
																			<a href="index4.html"><span
																					class="menu-item-text">Home
																					Grid</span></a>
																		</li>
																		<li>
																			<a href="index5.html"><span
																					class="menu-item-text">Home
																					Minimal</span></a>
																		</li>
																		<li>
																			<a href="index6.html"><span
																					class="menu-item-text">Home
																					Modern</span></a>
																		</li>
																		<li>
																			<a href="index7.html"><span
																					class="menu-item-text">Home
																					Stylish</span></a>
																		</li>
																		<li>
																			<a href="index8.html"><span
																					class="menu-item-text">Home
																					Unique</span></a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="col-md-6">
																<div class="menu-section">
																	<h2 class="sub-menu-title">Furniture 2</h2>
																	<ul class="menu-list">
																		<li>
																			<a href="index9.html"><span
																					class="menu-item-text">Home
																					Split</span></a>
																		</li>
																		<li>
																			<a href="index10.html"><span
																					class="menu-item-text">Home
																					Gothic</span></a>
																		</li>
																		<li>
																			<a href="index11.html"><span
																					class="menu-item-text">Home
																					Luxury</span></a>
																		</li>
																		<li>
																			<a href="index12.html"><span
																					class="menu-item-text">Home
																					Scandinavian</span></a>
																		</li>
																		<li>
																			<a href="index13.html"><span
																					class="menu-item-text">Home
																					Mid-Century</span></a>
																		</li>
																		<li>
																			<a href="index14.html"><span
																					class="menu-item-text">Home
																					Retro</span></a>
																		</li>
																		<li>
																			<a href="index15.html"><span
																					class="menu-item-text">Home Color
																					Block</span></a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="level-0 menu-item menu-item-has-children current-menu-item">
													<a href="/shop"><span class="menu-item-text">Shop</span></a>
													<ul class="sub-menu">
														<li class="level-1 menu-item menu-item-has-children">
															<a href="shop-grid-left.html"><span
																	class="menu-item-text">Shop - Products</span></a>
															<ul class="sub-menu">
																<li>
																	<a href="shop-grid-left.html"><span
																			class="menu-item-text">Shop Grid - Left
																			Sidebar</span></a>
																</li>
																<li>
																	<a href="shop-list-left.html"><span
																			class="menu-item-text">Shop List - Left
																			Sidebar</span></a>
																</li>
																<li>
																	<a href="shop-grid-right.html"><span
																			class="menu-item-text">Shop Grid - Right
																			Sidebar</span></a>
																</li>
																<li>
																	<a href="shop-list-right.html"><span
																			class="menu-item-text">Shop List - Right
																			Sidebar</span></a>
																</li>
																<li>
																	<a href="shop-grid-fullwidth.html"><span
																			class="menu-item-text">Shop Grid - No
																			Sidebar</span></a>
																</li>
															</ul>
														</li>
														<li>
															<a href="shop-details.html"><span
																	class="menu-item-text">Shop Details</span></a>
														</li>
														<li>
															<a href="shop-cart.html"><span class="menu-item-text">Shop -
																	Cart</span></a>
														</li>
														<li>
															<a href="shop-checkout.html"><span
																	class="menu-item-text">Shop - Checkout</span></a>
														</li>
														<li>
															<a href="shop-wishlist.html"><span
																	class="menu-item-text">Shop - Wishlist</span></a>
														</li>
													</ul>
												</li>
												<li
													class="level-0 menu-item menu-item-has-children mega-menu mega-menu-fullwidth align-center">
													<a href="blog-grid-left.html"><span
															class="menu-item-text">Blog</span></a>
													<div class="sub-menu">
														<div class="row">
															<div class="col-md-5">
																<div class="menu-section">
																	<h2 class="sub-menu-title">Blog Category</h2>
																	<ul class="menu-list">
																		<li>
																			<a href="blog-grid-left.html"><span
																					class="menu-item-text">Blog Grid -
																					Left Sidebar</span></a>
																		</li>
																		<li>
																			<a href="blog-grid-right.html"><span
																					class="menu-item-text">Blog Grid -
																					Right Sidebar</span></a>
																		</li>
																		<li>
																			<a href="blog-list-left.html"><span
																					class="menu-item-text">Blog List -
																					Left Sidebar</span></a>
																		</li>
																		<li>
																			<a href="blog-list-right.html"><span
																					class="menu-item-text">Blog List -
																					Right Sidebar</span></a>
																		</li>
																		<li>
																			<a href="blog-grid-fullwidth.html"><span
																					class="menu-item-text">Blog Grid -
																					No Sidebar</span></a>
																		</li>
																	</ul>
																</div>

																<div class="menu-section">
																	<h2 class="sub-menu-title">Blog Details</h2>
																	<ul class="menu-list">
																		<li>
																			<a href="blog-details-left.html"><span
																					class="menu-item-text">Blog Details
																					- Left Sidebar</span></a>
																		</li>
																		<li>
																			<a href="blog-details-right.html"><span
																					class="menu-item-text">Blog Details
																					- Right Sidebar</span></a>
																		</li>
																		<li>
																			<a href="blog-details-fullwidth.html"><span
																					class="menu-item-text">Blog Details
																					- No Sidebar</span></a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="col-md-7">
																<div class="menu-section">
																	<h2 class="sub-menu-title">Recent Posts</h2>
																	<div class="block block-posts recent-posts p-t-5">
																		<ul class="posts-list">
																			<li class="post-item">
																				<a href="blog-details-right.html"
																					class="post-image">
																					<img src="media/blog/1.jpg">
																				</a>
																				<div class="post-content">
																					<h2 class="post-title">
																						<a
																							href="blog-details-right.html">
																							Easy Fixes For Home Decor
																						</a>
																					</h2>
																					<div class="post-time">
																						<span class="post-date">May 30,
																							2022</span>
																						<span class="post-comment">4
																							Comments</span>
																					</div>
																				</div>
																			</li>
																			<li class="post-item">
																				<a href="blog-details-right.html"
																					class="post-image">
																					<img src="media/blog/2.jpg">
																				</a>
																				<div class="post-content">
																					<h2 class="post-title">
																						<a
																							href="blog-details-right.html">
																							How To Make Your Home A
																							Showplace
																						</a>
																					</h2>
																					<div class="post-time">
																						<span class="post-date">Aug 24,
																							2022</span>
																						<span class="post-comment">2
																							Comments</span>
																					</div>
																				</div>
																			</li>
																			<li class="post-item">
																				<a href="blog-details-right.html"
																					class="post-image">
																					<img src="media/blog/3.jpg">
																				</a>
																				<div class="post-content">
																					<h2 class="post-title">
																						<a
																							href="blog-details-right.html">
																							Stunning Furniture With
																							Aesthetic Appeal
																						</a>
																					</h2>
																					<div class="post-time">
																						<span class="post-date">Dec 06,
																							2022</span>
																						<span class="post-comment">1
																							Comment</span>
																					</div>
																				</div>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="level-0 menu-item menu-item-has-children">
													<a href="#"><span class="menu-item-text">Pages</span></a>
													<ul class="sub-menu">
														<li>
															<a href="page-login.html"><span class="menu-item-text">Login
																	/ Register</span></a>
														</li>
														<li>
															<a href="page-forgot-password.html"><span
																	class="menu-item-text">Forgot Password</span></a>
														</li>
														<li>
															<a href="page-my-account.html"><span
																	class="menu-item-text">My Account</span></a>
														</li>
														<li>
															<a href="page-about.html"><span class="menu-item-text">About
																	Us</span></a>
														</li>
														<li>
															<a href="page-contact.html"><span
																	class="menu-item-text">Contact</span></a>
														</li>
														<li>
															<a href="page-faq.html"><span
																	class="menu-item-text">FAQ</span></a>
														</li>
														<li>
															<a href="page-404.html"><span class="menu-item-text">Page
																	404</span></a>
														</li>
													</ul>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">
										<!-- Login -->
										<div class="login-header">
											<!-- <a class="active-login" href="#">Login</a> -->
											<a href="/logout"><span class="menu-item-text">Logout</span></a>
											<div class="form-login-register">
												<div class="box-form-login">
													<div class="active-login"></div>
													<div class="box-content">
														<div class="form-login active">
															<form id="login_ajax" method="" class="login">
																<h2>Sign in</h2>
																<p class="status"></p>
																<div class="content">
																	<div class="username">
																		<input type="text" required="required"
																			class="input-text" name="username"
																			id="username" placeholder="Your name" />
																	</div>
																	<div class="password">
																		<input class="input-text" required="required"
																			type="password" name="password"
																			id="password" placeholder="Password" />
																	</div>
																	<div class="rememberme-lost">
																		<div class="rememberme">
																			<input name="rememberme" type="checkbox"
																				id="rememberme" value="forever" />
																			<label for="rememberme"
																				class="inline">Remember me</label>
																		</div>
																		<div class="lost_password">
																			<a href="forgot-password.html">Lost your
																				password?</a>
																		</div>
																	</div>
																	<div class="button-login">
																		<input type="submit" class="button" name="login"
																			value="Login" />
																	</div>
																	<div class="button-next-reregister">Create An
																		Account</div>
																</div>
															</form>
														</div>
														<div class="form-register">
															<form method="" class="register">
																<h2>REGISTER</h2>
																<div class="content">
																	<div class="email">
																		<input type="email" class="input-text"
																			placeholder="Email" name="email"
																			id="reg_email" value="" />
																	</div>
																	<div class="password">
																		<input type="password" class="input-text"
																			placeholder="Password" name="password"
																			id="reg_password" />
																	</div>
																	<div class="button-register">
																		<input type="submit" class="button"
																			name="register" value="Register" />
																	</div>
																	<div class="button-next-login">Already has an
																		account</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
											<span class="count-wishlist">1</span>
										</div>


										<div class="my-profile-box">
											<a href="/profile" class="btn btn-outline-dark btn-sm">My Profile</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									Shopping Cart
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="index.html">Home</a><span class="delimiter"></span><a
									href="shop-grid-left.html">Shop</a><span class="delimiter"></span>Shopping Cart
							</div>
						</div>
					</div>

					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="shop-cart">
									<div class="row">
										<div class="col-xl-8 col-lg-12 col-md-12 col-12">








											<form class="cart-form" action="#" method="">
												<div class="table-responsive">




													<table class="cart-items table" cellspacing="0">
														<thead>
															<tr>
																<th class="product-thumbnail">Product</th>
																<th class="product-price">Price</th>
																<th class="product-quantity">Quantity</th>
																<th class="product-subtotal">Subtotal</th>
																<th class="product-remove">&nbsp;</th>
															</tr>
														</thead>

														<tbody>




															<% if (cart && cart.length> 0) { %>
																<% cart.forEach((data, index)=> { %>

																	<tr class="cart-item <%= data.quantity > data.productId.stock ? 'out-of-stock' : '' %>"
																		data-product-id="<%=data.productId._id%>">
																		<td class="product-thumbnail">
																			<a href="shop-details.html">
																				<img src="/public/products/images/<%=data.productId.images.image1%>"
																					alt="IMG">
																			</a>
																			<div class="product-name">
																				<%=data.productId.product_name%>
																			</div>






																		</td>
																		<td class="product-price">
																			<% if (data.productId.discountedAmount > 0) { %>
																				&#8377; <%= data.productId.discountedAmount.toFixed(2) %>
																				<del aria-hidden="true"><span class="text-danger">&#8377;<%= data.productId.product_price.toFixed(2) %></span></del> 

																			<% } else { %>
																				&#8377;<%= data.productId.product_price.toFixed(2) %>
																			<% } %>
																		  </td>
																		  
																		<td class="product-quantity">
																			<div class="quantity">
																				<div class="column-4">
																					<a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m btn"
																						onclick="cartCount('<%=data.productId._id%>','<%=userId%>',-1)">-</a>
																					<span
																						class="mtext-104 cl3 txt-center num-product p-2"
																						id="<%=data.productId._id%>"
																						data-price="<%=data.productId.product_price%>"
																						data-discountedamount="<%=data.productId.discountedAmount%>">
																						
																						<%=data.quantity%>
																					</span>
																					<a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m btn "
																						onclick="cartCount('<%=data.productId._id%>','<%=userId%>', 1)">+</a>
																				</div>
																			</div>
																		</td>

																		<td class="product-subtotal" id="subtotal-<%=data.productId._id%>"
																			data-price="<%=data.productId.product_price%>"
																			data-discountedamount="<%=data.productId.discountedAmount || data.productId.product_price %>">
																			<span>&#8377; <span id="subtotal-<%=data.productId._id%>">
																			  <%= (parseFloat(data.productId.discountedAmount || data.productId.product_price) * data.quantity).toFixed(2) %>
																			</span></span>
																		  </td>
																		  

																		<!-- <td class="product-subtotal"
																			id="subtotal-<%=data.productId._id%>"
																			data-price="<%=data.productId.product_price%>"
																			data-discountedamount="<%=data.productId.discountedAmount%>">
																			<span>&#8377; <span
																					id="subtotal-<%=data.productId._id%>">
																					<%= (parseFloat(data.productId.product_price)
																						* data.quantity).toFixed(2) %>

																				</span></span>
																		</td> -->
																		<td><a href=""
																				onclick="removeProduct('<%=data.productId._id%>'); return false;"
																				style="color: red;">remove</a></td>

																		<% if (data.quantity> data.productId.stock) { %>
																			<!-- <tr class="out-of-stock-message"> -->
																			<td>
																				<span class="text-danger">Out of stock:
																					<%= data.productId.product_name %>
																						</span>
																			</td>
																			<!-- </tr> -->
																			<% } %>


																	</tr>


																	
																	<% }) %>
																		<% } else { %>
																			<tr>
																				<td></td>
																				<td></td>
																				<td colspan="5" style="color: red;">Cart
																					is empty</td>




																			</tr>
																			<% } %>
														</tbody>

														<div class="empty-cart-message"
															style="display: none; text-align: center;">
															<p style="color: red;">Your cart is empty. Start shopping
																now!</p>

															<a href='/shop'
																style="background-color: rgb(17, 15, 15); color: rgb(227, 226, 226); padding: 10px 20px; border: none; cursor: pointer;">Continue
																Shopping</a>

														</div>







													</table>
												</div>
											</form>
										</div>
										<div class="col-xl-4 col-lg-12 col-md-12 col-12">
											<div class="cart-totals">
												<h2>Cart totals</h2>
												<div>
													<div class="cart-subtotal">
														<div class="title">Subtotal</div>

													</div>
													<div class="shipping-totals">
														<div class="title">Shipping</div>
														<div>
															<ul class="shipping-methods custom-radio">
																<li>
																	<input type="radio" name="shipping_method"
																		data-index="0" value="free_shipping"
																		class="shipping_method"
																		checked="checked"><label>Free shipping</label>
																</li>
																<li>
																	<input type="radio" name="shipping_method"
																		data-index="0" value="flat_rate"
																		class="shipping_method"><label>Flat rate</label>
																</li>
															</ul>
															<p class="shipping-desc">
																Shipping options will be updated during checkout.
															</p>
														</div>
													</div>
													<div class="order-total">
														<div class="title">Total</div>


														<div id="total">₹ <%= total.toFixed(2) %>
														</div>
													</div>

												</div>
												<div class="proceed-to-checkout">
													<a href="/checkout" class="checkout-button button">
														Proceed to checkout
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer background">
			<div class="footer">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu m-b-20">
										<h2 class="block-title">Contact Us</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-contact.html">616.774.0561</a>
												</li>
												<li>
													<a href="page-contact.html">866.453.4748</a>
												</li>
												<li>
													<a href="page-contact.html">HR Fax: 810.222.5439</a>
												</li>
												<li>
													<a href="page-contact.html">sales@ruperfurniture.com</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="block block-social">
										<ul class="social-link">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Showroom</h2>
										<div class="block-content">
											<p>1000 84th Street SW , Byron Center, MI 49315</p>
											<p>AmericasMart Bldg. #1</p>
											<p>Suite 5C-1, Atlanta, GA 30303</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Services</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-about.html">Sale</a>
												</li>
												<li>
													<a href="page-about.html">Quick Ship</a>
												</li>
												<li>
													<a href="page-about.html">New Designs</a>
												</li>
												<li>
													<a href="page-about.html">Accidental Fabric Protection</a>
												</li>
												<li>
													<a href="page-about.html">Furniture Care</a>
												</li>
												<li>
													<a href="page-about.html">Gift Cards</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-newsletter">
										<h2 class="block-title">Newsletter</h2>
										<div class="block-content">
											<div class="newsletter-text">Enter your email below to be the first to know
												about new collections and product launches.</div>
											<form action="#" method="post" class="newsletter-form">
												<input type="email" class="bg-white" name="your-email" value=""
													size="40" placeholder="Email address">
												<span class="btn-submit">
													<input type="submit" value="Subscribe">
												</span>
											</form>
										</div>
									</div>
									<div class="block block-image">
										<img width="309" height="32" src="media/payments.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	<!-- Search -->
	<div class="search-overlay">
		<div class="close-search"></div>
		<div class="wrapper-search">
			<form role="search" method="get" class="search-from ajax-search" action="#">
				<div class="search-box">
					<button id="searchsubmit" class="btn" type="submit">
						<i class="icon-search"></i>
					</button>
					<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
						placeholder="Search...">
					<div class="search-top">
						<div class="close-search">Cancel</div>
					</div>
					<div class="content-menu_search">
						<label>Suggested</label>
						<ul id="menu_search" class="menu">
							<li><a href="#">Furniture</a></li>
							<li><a href="#">Home Décor</a></li>
							<li><a href="#">Industrial</a></li>
							<li><a href="#">Kitchen</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Wishlist -->
	<div class="wishlist-popup">
		<div class="wishlist-popup-inner">
			<div class="wishlist-popup-content">
				<div class="wishlist-popup-content-top">
					<span class="wishlist-name">Wishlist</span>
					<span class="wishlist-count-wrapper"><span class="wishlist-count">2</span></span>
					<span class="wishlist-popup-close"></span>
				</div>
				<div class="wishlist-popup-content-mid">
					<table class="wishlist-items">
						<tbody>
							<tr class="wishlist-item">
								<td class="wishlist-item-remove"><span></span></td>
								<td class="wishlist-item-image">
									<a href="shop-details.html">
										<img width="600" height="600" src="media/product/3.jpg" alt="">
									</a>
								</td>
								<td class="wishlist-item-info">
									<div class="wishlist-item-name">
										<a href="shop-details.html">Chair Oak Matt Lacquered</a>
									</div>
									<div class="wishlist-item-price">
										<span>$150.00</span>
									</div>
									<div class="wishlist-item-time">June 4, 2022</div>
								</td>
								<td class="wishlist-item-actions">
									<div class="wishlist-item-stock">
										In stock
									</div>
									<div class="wishlist-item-add">
										<div data-title="Add to cart">
											<a rel="nofollow" href="#" class="button">Add to cart</a>
										</div>
									</div>
								</td>
							</tr>
							<tr class="wishlist-item">
								<td class="wishlist-item-remove"><span></span></td>
								<td class="wishlist-item-image">
									<a href="shop-details.html">
										<img width="600" height="600" src="media/product/4.jpg" alt="">
									</a>
								</td>
								<td class="wishlist-item-info">
									<div class="wishlist-item-name">
										<a href="shop-details.html">Pillar Dining Table Round</a>
									</div>
									<div class="wishlist-item-price">
										<del aria-hidden="true"><span>$150.00</span></del>
										<ins><span>$100.00</span></ins>
									</div>
									<div class="wishlist-item-time">June 4, 2022</div>
								</td>
								<td class="wishlist-item-actions">
									<div class="wishlist-item-stock">
										In stock
									</div>
									<div class="wishlist-item-add">
										<div data-title="Add to cart">
											<a rel="nofollow" href="#" class="button">Add to cart</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="wishlist-popup-content-bot">
					<div class="wishlist-popup-content-bot-inner">
						<a class="wishlist-page" href="shop-wishlist.html">
							Open wishlist page
						</a>
						<span class="wishlist-continue" data-url="">
							Continue shopping
						</span>
					</div>
					<div class="wishlist-notice wishlist-notice-show">Added to the wishlist!</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Compare -->
	<div class="compare-popup">
		<div class="compare-popup-inner">
			<div class="compare-table">
				<div class="compare-table-inner">
					<a href="#" id="compare-table-close" class="compare-table-close">
						<span class="compare-table-close-icon"></span>
					</a>
					<div class="compare-table-items">
						<table id="product-table" class="product-table">
							<thead>
								<tr>
									<th>
										<a href="#" class="compare-table-settings">Settings</a>
									</th>
									<th>
										<a href="shop-details.html">Chair Oak Matt Lacquered</a> <span
											class="remove">remove</span>
									</th>
									<th>
										<a href="shop-details.html">Zunkel Schwarz</a> <span
											class="remove">remove</span>
									</th>
									<th>
										<a href="shop-details.html">Namaste Vase</a> <span class="remove">remove</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="tr-image">
									<td class="td-label">Image</td>
									<td>
										<a href="shop-details.html">
											<img width="600" height="600" src="media/product/3.jpg" alt="">
										</a>
									</td>
									<td>
										<a href="shop-details.html">
											<img width="600" height="600" src="media/product/1.jpg" alt="">
										</a>
									</td>
									<td>
										<a href="shop-details.html">
											<img width="600" height="600" src="media/product/2.jpg" alt="">
										</a>
									</td>
								</tr>
								<tr class="tr-sku">
									<td class="td-label">SKU</td>
									<td>VN00189</td>
									<td></td>
									<td>D1116</td>
								</tr>
								<tr class="tr-rating">
									<td class="td-label">Rating</td>
									<td>
										<div class="star-rating">
											<span style="width:80%"></span>
										</div>
									</td>
									<td>
										<div class="star-rating">
											<span style="width:100%"></span>
										</div>
									</td>
									<td></td>
								</tr>
								<tr class="tr-price">
									<td class="td-label">Price</td>
									<td><span class="amount">$150.00</span></td>
									<td><del><span class="amount">$150.00</span></del> <ins><span
												class="amount">$100.00</span></ins></td>
									<td><span class="amount">$200.00</span></td>
								</tr>
								<tr class="tr-add-to-cart">
									<td class="td-label">Add to cart</td>
									<td>
										<div data-title="Add to cart">
											<a href="#" class="button">Add to cart</a>
										</div>
									</td>
									<td>
										<div data-title="Add to cart">
											<a href="#" class="button">Add to cart</a>
										</div>
									</td>
									<td>
										<div data-title="Add to cart">
											<a href="#" class="button">Add to cart</a>
										</div>
									</td>
								</tr>
								<tr class="tr-description">
									<td class="td-label">Description</td>
									<td>Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida
										nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec
										dignissim viverra nunc, ut aliquet magna posuere eget.</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur.</td>
									<td>The EcoSmart Fleece Hoodie full-zip hooded jacket provides medium weight fleece
										comfort all year around. Feel better in this sweatshirt because Hanes keeps
										plastic bottles of landfills by using recycled polyester.7.8 ounce fleece
										sweatshirt made with up to 5 percent polyester created from recycled plastic.
									</td>
								</tr>
								<tr class="tr-content">
									<td class="td-label">Content</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
										rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
										beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
										aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
										ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
										quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
										tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
										rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
										beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
										aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
										ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
										quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
										tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
										rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
										beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
										aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
										ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
										quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
										tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
								</tr>
								<tr class="tr-dimensions">
									<td class="td-label">Dimensions</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Loader -->
	<div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>


	<!-- //ajax -->
	<!-- Your existing HTML code for the cart page -->




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



	<script>



		




		


		function removeProduct(proId) {
			// Display a confirmation dialog
			Swal.fire({
				title: 'Are you sure?',
				text: 'You won\'t be able to revert this!',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, remove it!'
			}).then((result) => {
				// Check if the user confirmed the action
				if (result.isConfirmed) {
					// User confirmed, proceed with removal
					$.ajax({
						url: '/remove-product',
						method: 'post',
						encoded: true,
						data: {
							product: proId,
						},
					}).done((data) => {
						if (data.success) {
							// Remove the corresponding row from the table
							const rowToRemove = document.querySelector(`.cart-item[data-product-id="${proId}"]`);
							if (rowToRemove) {
								rowToRemove.remove();
							}

							// Update the total on the page
							updateTotal();

							// Check if the cart is empty and display the empty cart message
							const cartItems = document.querySelectorAll('.cart-item');
							const emptyCartMessage = document.querySelector('.empty-cart-message');

							if (cartItems.length === 0) {
								// If there are no cart items, hide both the tbody and thead
								const tbody = document.querySelector('tbody');
								const thead = document.querySelector('thead');
								if (tbody) {
									tbody.style.display = 'none';
								}
								if (thead) {
									thead.style.display = 'none';
								}

								// Display the empty cart message
								if (emptyCartMessage) {
									emptyCartMessage.style.display = 'block';
								}
							}

							// Optionally, update other UI elements or take additional actions
							Swal.fire(
								'Removed!',
								'Your product has been removed.',
								'success'
							);
						} else {
							// Handle unsuccessful removal
							Swal.fire(
								'Error!',
								'Failed to remove the product.',
								'error'
							);
						}
					});
				}
				// If the user clicked "Cancel", do nothing
			});
		}






		// const updateTotal = () => {
		// 	const totalElement = document.getElementById('total');
		// 	const products = document.querySelectorAll('.num-product');

		// 	// Recalculate the total based on all product quantities and update the total element
		// 	let newTotal = 0;
		// 	products.forEach((product) => {
		// 		const productPrice = parseFloat(product.dataset.price || 0);
		// 		const productQuantity = parseInt(product.textContent);
		// 		newTotal += productPrice * productQuantity;
		// 	});

		// 	totalElement.textContent = `₹ ${newTotal.toFixed(2)}`;
		// };

		// const updateSubtotal = (productId, newQuantity) => {
		// 	const subtotalElement = document.getElementById(`subtotal-${productId}`);
		// 	if (subtotalElement) {
		// 		const productPrice = parseFloat(subtotalElement.dataset.price || 0);
		// 		const newSubtotal = (productPrice * newQuantity).toFixed(2);
		// 		subtotalElement.textContent = `₹ ${newSubtotal}`; // Update the format accordingly
		// 	}
		// };



		const updateTotal = () => {
  const totalElement = document.getElementById('total');
  const products = document.querySelectorAll('.num-product');

  // Recalculate the total based on all product quantities and update the total element
  let newTotal = 0;
  products.forEach((product) => {
    const productPrice = parseFloat(product.dataset.discountedamount) > 0 ?
      parseFloat(product.dataset.discountedamount) :
      parseFloat(product.dataset.price);

    const productQuantity = parseInt(product.textContent);
    const productSubtotal = productPrice * productQuantity;

    console.log(`Product: ${product.textContent}, Price: ${productPrice}, Subtotal: ${productSubtotal}`);

    newTotal += productSubtotal;
  });

  console.log(`New Total: ${newTotal}`);
  totalElement.textContent = `₹ ${newTotal.toFixed(2)}`;
};




const updateSubtotal = (productId, newQuantity) => {
  const subtotalElement = document.getElementById(`subtotal-${productId}`);
  if (subtotalElement) {
    const productPrice = parseFloat(subtotalElement.dataset.discountedamount || subtotalElement.dataset.price || 0);
    const newSubtotal = (productPrice * newQuantity).toFixed(2);

    console.log(`Product ID: ${productId}, Price: ${productPrice}, New Subtotal: ${newSubtotal}`);
    
    subtotalElement.textContent = `₹ ${newSubtotal}`; // Update the format accordingly
  }
};






// 		const updateSubtotal = (productId, newQuantity) => {
//     const subtotalElement = document.getElementById(`subtotal-${productId}`);
//     if (subtotalElement) {
//         const productPrice = parseFloat(subtotalElement.dataset.price || 0);
//         const discountedAmount = parseFloat(subtotalElement.dataset.discountedAmount || 0);

//         // Use discounted amount if it's greater than 0, otherwise use product price
//         const effectivePrice = discountedAmount > 0 ? discountedAmount : productPrice;

//         const newSubtotal = (effectivePrice * newQuantity).toFixed(2);
//         subtotalElement.textContent = `₹ ${newSubtotal}`; // Update the format accordingly
//     }
// };
// const updateTotal = () => {
//     const totalElement = document.getElementById('total');
//     const products = document.querySelectorAll('.num-product');

//     // Recalculate the total based on all product quantities and update the total element
//     let newTotal = 0;
//     products.forEach((product) => {
//         const subtotalElement = document.getElementById(`subtotal-${product.dataset.productId}`);
//         if (subtotalElement) {
//             const effectivePrice = parseFloat(subtotalElement.dataset.discountedAmount || subtotalElement.dataset.price || 0);
//             const productQuantity = parseInt(product.textContent);
//             newTotal += effectivePrice * productQuantity;
//         }
//     });

//     totalElement.textContent = `₹ ${newTotal.toFixed(2)}`;
// };





		const cartCount = (productId, userId, count) => {
			$.ajax({
				type: 'POST',
				url: '/cart-quantity', // Replace with your actual endpoint
				data: {
					product: productId,
					user: userId,
					count: count,
				},
				success: function (response) {
					if (response.changeSuccess) {
						// Update the quantity on the page
						const quantityElement = document.getElementById(productId);
						const currentQuantity = parseInt(quantityElement.textContent);
						const newQuantity = currentQuantity + count;

						// Check if the new quantity is greater than or equal to 1 before updating
						if (newQuantity >= 1) {
							quantityElement.textContent = newQuantity;

							// Update the total on the page
							updateTotal();

							// Update the subtotal on the page
							updateSubtotal(productId, newQuantity);
						} else {
							// Optionally, display a message or take any other action to indicate the quantity cannot go below 1
							console.log("Quantity cannot be less than 1");
						}
					} else {
						// Handle unsuccessful response
					}
				},
				error: function (error) {
					console.log(error);
				},
			});
		};












	</script>






	<!-- Dependency Scripts -->
	<script src="/public/usernew/libs/popper/js/popper.min.js"></script>
	<script src="/public/usernew/libs/jquery/js/jquery.min.js"></script>
	<script src="/public/usernew/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/public/usernew/libs/slick/js/slick.min.js"></script>
	<script src="/public/usernew/libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="/public/usernew/libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="/public/usernew/libs/slider/js/tmpl.js"></script>
	<script src="/public/usernew/libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="/public/usernew/libs/slider/js/draggable-0.1.js"></script>
	<script src="/public/usernew/libs/slider/js/jquery.slider.js"></script>
	<script src="/public/usernew/libs/elevatezoom/js/jquery.elevatezoom.js"></script>

	<!-- Site Scripts -->
	<script src="/public/usernew/assets/js/app.js"></script>
</body>

<!-- Mirrored from caketheme.com/html/ruper/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 09:38:23 GMT -->

</html>