<%-include("../userlayouts/header.ejs")-%>


	<div id="site-main" class="site-main">
		<div id="main-content" class="main-content">
			<div id="primary" class="content-area">
				<div id="title" class="page-title">
					<div class="section-container">
						<div class="content-title-heading">
							<h1 class="text-title-heading">
								Edit Address
							</h1>
						</div>
						<div class="breadcrumbs">
							<a href="/">Home</a><span class="delimiter"></span>Edit Address
						</div>
					</div>
				</div>


				<div class="container">
					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="page-my-account">
									<div class="my-account-wrap clearfix">
										
										<h1>Edit Address</h1>
										<div class="my-account-account-details">
											


											<form class="edit-account" action="/edit_address/<%= addressId %>"
												method="post" onsubmit="return validAddress()">
												<input type="hidden" name="addressId" value="<%= addressId %>">

												<% const selectedAddress=address.address.find(addr=> addr._id.toString()
													=== addressId); %>

													<div class="form-row">
														<label for="fullname">Full Name<span
																class="required">*</span></label>
														<input type="text" class="input-text" name="fullname"
															id="fullName" value="<%= selectedAddress.fullname %>">
														<p class="error-message" id="name-error"></p>
													</div>

													<div class="form-row">
														<label for="mobile">Mobile<span
																class="required">*</span></label>
														<input type="text" class="input-text" name="mobile" id="phone"
															value="<%= selectedAddress.mobile %>">
														<p class="error-message" id="mobile-error"></p>
													</div>

													<div class="form-row">
														<label for="housename">House Name<span
																class="required">*</span></label>
														<input type="text" class="input-text" name="housename"
															id="housename" value="<%= selectedAddress.housename %>">
														<p class="error-message" id="housename-error"></p>
													</div>

													<div class="form-row">
														<label for="pin">Pincode<span class="required">*</span></label>
														<input type="text" class="input-text" name="pin" id="pinCode"
															value="<%= selectedAddress.pin %>">
														<p class="error-message" id="pincode-error"></p>
													</div>

													<div class="form-row">
														<label for="city">City<span class="required">*</span></label>
														<input type="text" class="input-text" name="city" id="city"
															value="<%= selectedAddress.city %>">
														<p class="error-message" id="city-error"></p>
													</div>

													<div class="form-row">
														<label for="district">District<span
																class="required">*</span></label>
														<input type="text" class="input-text" name="district"
															id="district" value="<%= selectedAddress.district %>">
														<p class="error-message" id="district-error"></p>
													</div>

													<div class="form-row">
														<label for="state">State<span class="required">*</span></label>
														<input type="text" class="input-text" name="state" id="state"
															value="<%= selectedAddress.state %>">
														<p class="error-message" id="state-error"></p>
													</div>

													<div class="clear"></div>

													<div class="form-row">
														<button type="submit" class="button" name="save_account_details"
															value="Save Address">Save Address</button>
													</div>
											</form>



										</div>
										<!-- </div>
												</div>
											</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>




			</div>
		</div>
	</div>

	<script>
		function validAddress() {
			const name = document.getElementById('fullName').value;
			const mobile = document.getElementById('phone').value;
			const housename = document.getElementById('housename').value;
			const pincode = document.getElementById('pinCode').value;
			const city = document.getElementById('city').value;
			const district = document.getElementById('district').value;
			const state = document.getElementById('state').value;

			document.getElementById('name-error').textContent = '';
			document.getElementById('mobile-error').textContent = '';
			document.getElementById('housename-error').textContent = '';
			document.getElementById('pincode-error').textContent = '';
			document.getElementById('city-error').textContent = '';
			document.getElementById('district-error').textContent = '';
			document.getElementById('state-error').textContent = '';

			if (!name) {
				document.getElementById('name-error').textContent = 'Name field should not be empty!';
				return false;
			}
			const mobileRegex = /^[6-9]\d{9}$/;

			if (!mobile || !mobileRegex.test(mobile)) {
				document.getElementById('mobile-error').textContent = 'Mobile number should be a 10-digit valid number';
				return false;
			}

			if (new Set(mobile).size === 1) {
				document.getElementById('mobile-error').textContent = 'Mobile number should not consist of the same digit.';
				return false;
			}
			if (!housename) {
				document.getElementById('housename-error').textContent = 'Housename field should not be empty!';
				return false;
			}
			const pincodeRegex = /^\d{6}$/;

			if (!pincode || !pincode.match(pincodeRegex)) {
				document.getElementById('pincode-error').textContent = 'Pincode should be a 6-digit numeric value.';
				return false;
			}
			if (!city) {
				document.getElementById('city-error').textContent = 'City field should not be empty!';
				return false;
			}
			if (!district) {
				document.getElementById('district-error').textContent = 'District field should not be empty!';
				return false;
			}


			if (!state) {
				document.getElementById('state-error').textContent = 'State field should not be empty!';
				return false;
			}


			return true;
		}

	</script>


	<style>
		.error-message {
			color: red;
		}
	</style>

<%-include("../userlayouts/footer.ejs")-%>