<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    /> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script> -->
  </head>
  <style>
    body {
      background: #eee;
      margin-top: 20px;
    }
    .text-danger strong {
      color: #9f181c;
    }
    .receipt-main {
      background: #ffffff none repeat scroll 0 0;
      border-bottom: 12px solid #333333;
      border-top: 12px solid #9f181c;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 40px 30px !important;
      position: relative;
      box-shadow: 0 1px 21px #acacac;
      color: #333333;
      font-family: open sans;
    }
    .receipt-main p {
      color: #333333;
      font-family: open sans;
      line-height: 1.42857;
    }
    .receipt-footer h1 {
      font-size: 15px;
      font-weight: 400 !important;
      margin: 0 !important;
    }
    .receipt-main::after {
      background: #414143 none repeat scroll 0 0;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      right: 0;
      top: -13px;
    }
    .receipt-main thead {
      background: #414143 none repeat scroll 0 0;
    }
    .receipt-main thead th {
      color: #fff;
    }
    .receipt-right h5 {
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 7px 0;
    }
    .receipt-right p {
      font-size: 12px;
      margin: 0px;
    }
    .receipt-right p i {
      text-align: center;
      width: 18px;
    }
    .receipt-main td {
      padding: 9px 20px !important;
    }
    .receipt-main th {
      padding: 13px 20px !important;
    }
    .receipt-main td {
      font-size: 13px;
      font-weight: initial !important;
    }
    .receipt-main td p:last-child {
      margin: 0;
      padding: 0;
    }
    .receipt-main td h2 {
      font-size: 20px;
      font-weight: 900;
      margin: 0;
      text-transform: uppercase;
    }
    .receipt-header-mid .receipt-left h1 {
      font-weight: 100;
      margin: 34px 0 0;
      text-align: right;
      text-transform: uppercase;
    }
    .receipt-header-mid {
      margin: 24px 0;
      overflow: hidden;
    }

    #container {
      background-color: #dcdcdc;
    }
  </style>
  <body>
    <div class="col-md-12">
      <div class="row">
        <div
          class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3"
        >
          <div class="row">
            <div class="receipt-header">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="receipt-left">
                  <h6>ORDER ID #<%= order._id %></h6>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <div class="receipt-right">
                  <h5 style="font-weight: 1000">
                    <Span style="color: rgb(46, 202, 88)">Ruper</Span> Furniture
                  </h5>
                  <p>+91 1234567890<i class="fa fa-phone"></i></p>
                  <p>Ruper@gmail.com<i class="fa fa-envelope-o"></i></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="receipt-header receipt-header-mid">
              <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                <div class="receipt-right">
                    <h5><%= order.user.username %></h5>
                    <p><b>Mobile :</b><%= order.user.mobile %></p>
                    <p><b>Email :</b><%= order.user.email %></p>
                    
                  
                  <p>
                    <b>Order Date :</b><%=
                    order.orderDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-')%>
                  </p>
                  <p><b>Payment Method :</b><%= order.paymentOption %></p>
                  <p><b>Address :</b><%= order.deliveryAddress.housename %>, <%= order.deliveryAddress.city %>, <%= order.deliveryAddress.state %> - <%= order.deliveryAddress.pin %></p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% if (order.cart.products.length > 0) {
                order.cart.products.forEach((product, index) => { %>
                <tr>
                  <td class="col-md-9"><%= index + 1 %></td>
                  <td class="col-md-9"><%= product.productId.product_name %></td>
                  <td class="col-md-9"><%= product.quantity %></td>
                  <td class="col-md-9"><i class="fa fa-inr"></i>₹ <%= product.productId.product_price %></td>
                  <td class="col-md-9">₹ <%= product.quantity * product.productId.product_price %></td>
                </tr>
                <% }); } %>
                
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-right col-md-9">
                    <h4>Sub total:</h4>
                    <h4>Coupon discount:</h4>
                    <h2><strong>Total: </strong></h2>
                  </td>
                  <td class="text-left text-danger">
                    <h4><i class="fa fa-inr"></i>₹ <%= sumTotal.toFixed(2) %></h4>
                    <h4><i class="fa fa-inr"></i>₹ <%= (sumTotal - order.totalAmount).toFixed(2) %></h4>
                    <h2><strong><i class="fa fa-inr"></i>₹ <%= order.totalAmount.toFixed(2) %></strong></h2>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="receipt-header receipt-header-mid receipt-footer">
              <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                <div class="receipt-right">
                  <p>
                    <b>Date :</b><%= date.toLocaleDateString('en-US', { year:
                    'numeric', month: 'short', day: '2-digit' }).replace(/\//g,
                    '-') %>
                  </p>
                  <h5 style="color: rgb(140, 140, 140)">
                    Thanks for shopping.!
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>