<%-include("../userlayouts/header.ejs")-%>

<style>
	/* progress bar */


	/* delivery progress bar  */

	:-moz-any-link:focus {
		outline: 0
	}

	#progressbar {
		margin-bottom: 3vh;
		overflow: hidden;
		color: #000;
		padding-left: 0;
		margin-top: 3vh
	}

	#progressbar li {
		list-style-type: none;
		font-size: .8rem;
		width: 25%;
		float: left;
		position: relative;
		font-weight: 400;
		color: #000
	}

	#progressbar #step1:before {
		content: "";
		color: #000;
		width: 20px;
		height: 20px;
		margin-left: 0 !important
	}

	#progressbar #step2:before {
		content: "";
		color: #000;
		width: 20px;
		height: 20px;
		margin-left: 32%
	}

	#progressbar #step3:before {
		content: "";
		color: #000;
		width: 20px;
		height: 20px;
		margin-right: 32%
	}

	#progressbar #step4:before {
		content: "";
		color: rgb(151, 149, 149, .651);
		width: 20px;
		height: 20px;
		margin-right: 0 !important
	}

	#progressbar li:before {
		line-height: 29px;
		display: block;
		font-size: 12px;
		background: #d1d1d1;
		border-radius: 50%;
		margin: auto;
		z-index: -1;
		margin-bottom: 1vh
	}

	#progressbar li:after {
		content: '';
		height: 3px;
		background: #d1d1d1;
		position: absolute;
		left: 0;
		right: 0;
		margin-bottom: 2vh;
		top: 8px;
		z-index: 1
	}

	.progress-track {
		padding: 0 8%
	}

	#progressbar li:nth-child(2):after {
		margin-right: auto
	}

	#progressbar li:nth-child(1):after {
		margin: auto
	}

	#progressbar li:nth-child(3):after {
		float: left;
		width: 68%
	}

	#progressbar li:nth-child(4):after {
		margin-left: auto;
		width: 132%
	}

	#progressbar li.active:after,
	#progressbar li.active:before {
		background: #00ff0d
	}

	#three {
		font-size: 1.2rem
	}


	@media (max-width:767px) {
		#three {
			font-size: 1rem
		}
	}
</style>

<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="title" class="page-title">
				<div class="section-container">
					<div class="content-title-heading">
						<h1 class="text-title-heading">
							Order Details
						</h1>
					</div>
					<div class="breadcrumbs">
						<a href="/">Home</a><span class="delimiter"></span><a
							href="/shop">Shop</a>
					</div>
				</div>
			</div>

			<div id="content" class="site-content" role="main">
				<div class="section-padding">
					<div class="section-container p-l-r">
						<div class="shop-cart">
							<div class="row">
								<div class="col-xl-8 col-lg-12 col-md-12 col-12">








									<form class="cart-form" action="#" method="">
										<div class="table-responsive">



											<table class="cart-items table" cellspacing="0">
												<thead>
													<tr>
														<th class="product-thumbnail">Product</th>
														<th class="product-price">Price</th>
														<th class="product-quantity">Quantity</th>
														<th class="product-subtotal">Subtotal</th>
														<th class="product-subtotal">Payment</th>
														<th class="product-subtotal">Status</th>
														<!-- <th class="product-remove">&n</th> -->
														<th class="product-subtotal"></th>
														<th class="product-subtotal"></th>
														
													</tr>
												</thead>
												<tbody>


													<% order.cart.products.forEach(product=> { %>

														<tr class="cart-item">
															<td class="product-thumbnail">
																<a href="">
																	<!-- <img width="600" height="600" src="media/product/3.jpg" class="product-image" alt=""> -->
																	<img src="/public/products/images/<%= product.productId.images.image1 %>"
																		alt="IMG">
																</a>
																<div class="product-name">
																	<!-- <a href="shop-details.html">Chair Oak Matt Lacquered</a>								 -->
																	<%= product.productId.product_name %>
																</div>
															</td>
															<!-- <td class="product-price">
																		<%= product.productId.product_price.toFixed(2) %>
																	</td> -->
															<td class="product-price">
																<%= product.price.toFixed(2) %>
															</td>
															<td class="product-quantity text-center">
																<%= product.quantity %>
															</td>


															<!-- Subtotal -->
															<td class="product-subtotal">
																<span>&#8377; <span>
																		<%= (parseFloat(product.price) *
																			product.quantity).toFixed(2) %>
																	</span></span>
															</td>



															<td class="product-subtotal text-center">

																<%= order.paymentOption %>
															</td>
															<!-- <td class="product-remove" id="orderStatus-<%= product._id %>">
																		<%= product.orderStatus %>
																	  </td> -->
															<td class="product-remove"
																id="orderStatus-<%= product._id %>">
																<% if (product.returnOrder.status) { %>
																	<%= product.returnOrder.returnStatus %>
																		<% } else { %>
																			<%= product.orderStatus %>
																				<% } %>
															</td>

															
															<td class="product-quantity">
																<% if (product.orderStatus !=="Cancelled" ) { %>
																	<% if (product.orderStatus=="Delivered" &&
																		!product.returnOrder.status) { %>
																		<a href="#"
																			onclick="confirmAndReturn('<%= product._id %>')"
																			style="color: red;">Return Product</a>
																		<div id="returnReasonModal" class="modal"
																			style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
																			<div class="modal-content">

																				<label for="returnReason"
																					style="display: block; text-align: center; margin-bottom: 10px; font-weight: bold; color: black;">Return
																					Reason:</label>

																				<textarea id="returnReason" rows="4"
																					cols="30"
																					style="width: 100%;"></textarea>

																				<button
																					onclick="submitReturnReason('<%= product._id %>')"
																					style="margin-top: 10px; width: 100%; background-color: black; color: white; font-weight: bold;">Submit</button>
																				<button onclick="closeModal()"
																					style="margin-top: 14px; width: 100%; background-color: black; color: white; font-weight: bold;">cancel</button>


																			</div>
																		</div>

																		<% } else if (!product.returnOrder.status) { %>
																			<a href="#"
																				onclick="confirmAndCancel('<%= product._id %>')"
																				style="color: red;">Cancel Order</a>
																			<% } %>
																				<% } %>
															</td>
															<td class="product-subtotal">
																<% if (product.orderStatus == "Delivered") { %>
																	<a href="/review/<%= product.productId._id %>" class="text-primary">Rate</a>
																<% } %>
															</td>
															

														</tr>


														<tr class="status-bar-row" id="status-row-<%= product._id %>">

															
															<td colspan="9">
																<% if (!(product.orderStatus==="Cancelled" ||
																	product.returnOrder.status)){ %>
																	<div class="progress-track">
																		<ul id="progressbar">
																			<li style="font-size: 12px;"
																				class="step0 active" id="step1">Order
																				placed</li>
																			<li style="font-size: 12px;"
																				class="step0 text-center <%= product.statusLevel >= 2 ? 'active' : '' %>"
																				id="step2">Shipped</li>
																			<li style="font-size: 12px;"
																				class="step0 text-right <%= product.statusLevel >= 3 ? 'active' : '' %>"
																				id="step3">Out for Delivery</li>
																			<li style="font-size: 12px;"
																				class="step0 text-right text-success <%= product.statusLevel >= 4 ? 'active' : '' %>"
																				id="step4">Delivered</li>
																		</ul>
																	</div>
																	<% } else if (product.returnOrder.status) { %>
																		<div class="progress-track">
																			<ul id="progressbar" class="returnStatus">
																				<li style="font-size: 12px;"
																					class="step0 active" id="step1">
																					Return placed</li>
																				<li style="font-size: 12px;"
																					class="step0 text-center <%= product.returnOrder.statusLevel >= 2 ? 'active' : '' %>"
																					id="step2">Out for Pickup</li>
																				<li style="font-size: 12px;"
																					class="step0 text-right <%= product.returnOrder.statusLevel >= 3 ? 'active' : '' %>"
																					id="step3">Returned</li>
																				<li style="font-size: 12px;"
																					class="step0 text-right text-success <%= product.returnOrder.statusLevel >= 4 ? 'active' : '' %>"
																					id="step4">Refund</li>
																			</ul>
																		</div>
																		<% } %>
															</td>


														</tr>







														<% }) %>



												</tbody>

											</table>
										</div>
									</form>
								</div>
								<div class="col-xl-4 col-lg-12 col-md-12 col-12">
									<div class="cart-totals">
										<h2>Delivery Address</h2>
										<div>
											<div class="cart-subtotal">

												<div class="title">
													<p>
														<%= order.deliveryAddress.fullname %> <br> <%=
																order.deliveryAddress.housename %> <br> <%=
																	order.deliveryAddress.city %>,<%=
																		order.deliveryAddress.district %>,<%=
																			order.deliveryAddress.state %> <br>
																			<%= order.deliveryAddress.mobile %>

													</p>
													
													

												</div>




											</div>
											

										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>

<script>

	function confirmAndCancel(orderId) {
		console.log('Confirm and Cancel function called');

		Swal.fire({
			title: 'Are you sure?',
			text: 'You are about to cancel this order.',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, cancel it!'
		}).then((result) => {
			if (result.isConfirmed) {
				console.log('Confirmed to cancel order');

				axios.post(`/cancelorder/${orderId}`)
					.then(response => {
						console.log('Cancel order AJAX response:', response);

						if (response.data.success) {
							const statusRow = document.querySelector(`#status-row-${orderId}`);
							console.log(statusRow);
							if (statusRow) {
								statusRow.remove();
							}

							const orderStatusElement = document.querySelector(`#orderStatus-${orderId}`);
							console.log(orderStatusElement);
							if (orderStatusElement) {
								orderStatusElement.textContent = 'Cancelled';
							}

							Swal.fire('Success!', 'Order canceled successfully!', 'success');
							location.reload();
						} else {
							Swal.fire('Error!', 'cannot cancel the order at this stage', 'error');
						}
					})
					.catch(error => {
						console.error('Error in cancel order AJAX request:', error);
						Swal.fire('Error!', 'cannot cancel the order at this stage', 'error');
					});
			}
		});
	}



	function confirmAndReturn(orderId, productId) {
		console.log('Confirm and return function called');

		Swal.fire({
			title: 'Are you sure?',
			text: 'You are about to return this order.',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, return it!'
		}).then(async (result) => {
			if (result.isConfirmed) {
				console.log('Confirmed to return order');

				openModal();

				document.getElementById('submitReasonButton').onclick = function () {
					submitReturnReason(orderId, productId);
				};
			}
		});
	}

	function submitReturnReason(orderId, productId) {

		const returnReason = document.getElementById('returnReason').value;

		axios.post(`/returnorder/${orderId}`, { reason: returnReason, orderId: orderId })
			.then((response) => {
				console.log('Return order AJAX response:', response);

				if (response.data.success) {
				

					Swal.fire('Success!', 'Order return placed successfully!', 'success');
					
					location.reload();
				} else {
					Swal.fire('Error!', 'An error occurred during return', 'error');
				}
			})
			.catch((error) => {
				console.error('Error in return order AJAX request:', error);
				Swal.fire('Error!', 'Cannot return the order at this stage', 'error');
			});
	}

	function openModal() {
		const modal = document.getElementById('returnReasonModal');
		modal.style.display = 'block';
	}

	function closeModal() {
		const modal = document.getElementById('returnReasonModal');
		modal.style.display = 'none';
	}



</script>

<%-include("../userlayouts/footer.ejs")-%>