<%-include("../userlayouts/header.ejs")-%>

<style>
	.rating {
	  display: flex;
	  justify-content: left;
	  flex-direction: row-reverse;
	  gap: 0.3rem;
	  --stroke: #666;
	  --fill: #ffc73a;
	  
	}
	
	
	.rating input {
	  appearance: unset;
	}
	
	.rating label {
	  cursor: pointer;
	}
	
	.rating svg {
	  width: 2rem;
	  height: 2rem;
	  overflow: visible;
	  fill: transparent;
	  stroke: var(--stroke);
	  stroke-linejoin: bevel;
	  stroke-dasharray: 12;
	  animation: idle 4s linear infinite;
	  transition: stroke 0.2s, fill 0.5s;
	}
	
	@keyframes idle {
	  from {
		stroke-dashoffset: 24;
	  }
	}
	
	.rating label:hover svg {
	  stroke: var(--fill);
	}
	
	.rating input:checked ~ label svg {
	  transition: 0s;
	  animation: idle 4s linear infinite, yippee 0.75s backwards;
	  fill: var(--fill);
	  stroke: var(--fill);
	  stroke-opacity: 0;
	  stroke-dasharray: 0;
	  stroke-linejoin: miter;
	  stroke-width: 8px;
	}
	
	@keyframes yippee {
	  0% {
		transform: scale(1);
		fill: var(--fill);
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke: var(--stroke);
		stroke-dasharray: 10;
		stroke-width: 1px;
		stroke-linejoin: bevel;
	  }
	
	  30% {
		transform: scale(0);
		fill: var(--fill);
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke: var(--stroke);
		stroke-dasharray: 10;
		stroke-width: 1px;
		stroke-linejoin: bevel;
	  }
	
	  30.1% {
		stroke: var(--fill);
		stroke-dasharray: 0;
		stroke-linejoin: miter;
		stroke-width: 8px;
	  }
	
	  60% {
		transform: scale(1.2);
		fill: var(--fill);
	  }
	}
	
	</style>

	<div id="site-main" class="site-main">
		<div id="main-content" class="main-content">
			<div id="primary" class="content-area">
				<div id="title" class="page-title">
					<div class="section-container">

						<div class="content-title-heading">
							<h1 class="text-title-heading">
								<%= product.product_name %>
							</h1>
						</div>
						<div class="breadcrumbs">
							<a href="/">Home</a><span class="delimiter"></span><a href="/shop">Shop</a>
						</div>
					</div>
				</div>

				<div id="content" class="site-content" role="main">
					<div class="shop-details zoom" data-product_layout_thumb="scroll" data-zoom_scroll="true"
						data-zoom_contain_lens="true" data-zoomtype="inner" data-lenssize="200" data-lensshape="square"
						data-lensborder="" data-bordersize="2" data-bordercolour="#f9b61e" data-popup="false">






						<div class="product-top-info">
							<div class="section-padding">
								<div class="section-container p-l-r">
									<div class="row">
										<div class="product-images col-lg-7 col-md-12 col-12">
											<div class="row">
												<div class="col-md-2">
													<div class="content-thumbnail-scroll">
														<div class="image-thumbnail slick-carousel slick-vertical"
															data-asnavfor=".image-additional" data-centermode="true"
															data-focusonselect="true" data-columns4="5"
															data-columns3="4" data-columns2="4" data-columns1="4"
															data-columns="4" data-nav="true"
															data-vertical="&quot;true&quot;"
															data-verticalswiping="&quot;true&quot;">
															<% for (let i=1; i <=4; i++) { %>
																<div class="img-item slick-slide">
																	<span class="img-thumbnail-scroll">
																		<img width="600" height="600"
																			src="/public/products/images/<%= product.images['image' + i] %>"
																			alt="">
																	</span>
																</div>
																<% } %>

														</div>
													</div>
												</div>
												<div class="col-md-10">
													<div class="scroll-image main-image">
														<div class="image-additional slick-carousel"
															data-asnavfor=".image-thumbnail" data-fade="true"
															data-columns4="1" data-columns3="1" data-columns2="1"
															data-columns1="1" data-columns="1" data-nav="true">

															<% for (let i=1; i <=4; i++) { %>
																<div class="img-item slick-slide">

																	<img width="900" height="900"
																		src="/public/products/images/<%= product.images['image' + i] %>"
																		alt="" title="">
																</div>
																<% } %>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="product-info col-lg-5 col-md-12 col-12 ">

											<div
												class="title-container d-flex justify-content-between align-items-center">
												<h1 class="title">
													<%= product.product_name %>
												</h1>
												<a class="text-danger" href="#" onclick="addtoWish('<%=product._id%>')">
													<i class="wpb-icon-heart custom-size"></i>
												</a>

											</div>



											<% if (product.discountedAmount> 0) { %>

												<span class="price">
													<del aria-hidden="true"><span>₹<%= product.product_price.toFixed(2)
																%></span></del>
													<ins><span>&#8377;<%= product.discountedAmount.toFixed(2) %>
														</span></ins>
												</span>
												<% } else { %>
													<span class="price">
														<del aria-hidden="true"><span></span></del>
														<ins><span>₹<%= product.product_price.toFixed(2) %></span></ins>
													</span>
													<% } %>

														<div class="rating">
															<div class="star star-<%= Math.round(averageRating) %>">
															</div>
															<div class="review-count">
																(<%= product.reviews.length %><span> reviews</span>)
															</div>
														</div>
														<div class="description">
															<p>
																<%= product.product_description %>
															</p>
														</div>
														<div class="variations">
															<table cellspacing="0">
																<tbody>
																	<tr>
																		<td class="label">Size</td>
																		<td class="attributes">
																			<ul class="text">
																				<li><span>L</span></li>
																				<li><span>M</span></li>
																				<li><span>S</span></li>
																			</ul>
																		</td>
																	</tr>
																	<tr>
																		<td class="label">Color</td>
																		<td class="attributes">
																			<ul class="colors">
																				<li><span class="color-1"></span></li>
																				<li><span class="color-2"></span></li>
																				<li><span class="color-3"></span></li>
																			</ul>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="buttons">
															<div class="add-to-cart-wrap">

																<div class="btn btn-dark">
																	<a onclick="addToCart('<%= product._id %>')"
																		class="button text-white" tabindex="0"> Add To
																		Cart</a>


																</div>



															</div>
															<div class="btn-quick-buy" data-title="Wishlist">
																<a href="/view-cart" class="btn btn-default">VIEW
																	CART</a>
															</div>

														</div>
														<div class="product-meta">
															
															<span class="posted-in">Category: <a

																	href="/shop?category=<%= encodeURIComponent(product.category) %>"
																	rel="tag"><%= product.category %></a></span>
															<span class="tagged-as">Tags: <a 
																	rel="tag">Hot</a>, <a 
																	rel="tag">Trend</a></span>
														</div>
														<div class="social-share">
															<a title="Facebook" class="share-facebook"
																target="_blank"><i
																	class="fa fa-facebook"></i>Facebook</a>
															<a  title="Twitter" class="share-twitter"><i
																	class="fa fa-twitter"></i>Twitter</a>
															<a  title="Pinterest" class="share-pinterest"><i
																	class="fa fa-pinterest"></i>Pinterest</a>
														</div>
										</div>
									</div>
								</div>
							</div>
						</div>




						<!-- image part end -->






						<div class="product-tabs">
							<div class="section-padding">
								<div class="section-container p-l-r">
									<div class="product-tabs-wrap">
										<ul class="nav nav-tabs" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" data-toggle="tab" href="#reviews" role="tab">Reviews
													(<%= product.reviews.length %>)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link " data-toggle="tab" href="#description"
													role="tab">Description</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#additional-information"
													role="tab">Additional information</a>
											</li>
											
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade show active" id="reviews" role="tabpanel">
												<div id="reviews" class="product-reviews">
													

													<div id="comments">
														<h2 class="reviews-title">reviews (<%= product.reviews.length %>
																) for <span>
																	<%= product.product_name %>
																</span></h2>
																<% for (const review of product.reviews) { %>
														<ol class="comment-list">
															
																<li class="review">
																	<div class="content-comment-container">
																		<div class="comment-container">
																			<img src="/public/usernew/media/user.jpg"
																				class="avatar" height="60" width="60"
																				alt="">
																			<div class="comment-text">
																				<div class="rating small">
																					<div
																						class="star star-<%= review.rating %>">
																					</div>
																				</div>
																				<div class="review-author">
																					<%= review.user.username %>
																				</div>
																				<div class="review-time">
																					<%= review.date.toLocaleDateString()
																						%>
																				</div>
																			</div>
																		</div>
																		<div class="description">
																			<p>
																				<%= review.comment %>
																			</p>
																		</div>
																	</div>
																</li>
																
														</ol>
														<% } %>
													</div>


													<div id="review-form">
														<div id="respond" class="comment-respond">
															<span id="reply-title" class="comment-reply-title">Add a
																review</span>
															<form action="" method="post" id="comment-form"
																class="comment-form" onsubmit="submitForm()">
																<input type="hidden" id="productId" name="productId"
																	value="<%= product._id %>">
																<input type="hidden" id="userId" name="userId"
																	value="<%= user %>">
																
															


																<div class="row">
																	<div class="col-md-12">
																		<div class="rating d-flex align-items-center">
																			<div class="rating">
																				<input type="radio" id="star-1" name="rating" value="5">
																				<label for="star-1">
																				  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
																				</label>
																				<input type="radio" id="star-2" name="rating" value="4">
																				<label for="star-2">
																				  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
																				</label>
																				<input type="radio" id="star-3" name="rating" value="3">
																				<label for="star-3">
																				  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
																				</label>
																				<input type="radio" id="star-4" name="rating" value="2">
																				<label for="star-4">
																				  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
																				</label>
																				<input type="radio" id="star-5" name="rating" value="1">
																				<label for="star-5">
																				  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
																				</label>
																			</p>
																			</div>																		</div>
																	</div>
																
																		<div class="content-info-reviews">
																			<p class="comment-form-comment">
																				<textarea id="comment" name="comment" placeholder="Your Reviews *" cols="45" rows="8" aria-required="true" required=""></textarea>
																			</p>
																
																			<p class="form-submit">
																				<input name="submit" type="submit" id="submit" class="submit" value="Submit" onclick="submitForm()">
																			</p>
																		</div>
																</div>


															</form><!-- #respond -->





														</div>
													</div>
													<div class="clear"></div>
												</div>
											</div>
											<div class="tab-pane fade " id="description" role="tabpanel">
												<p>																<%= product.product_description %>
												</p>
											</div>
											<div class="tab-pane fade" id="additional-information" role="tabpanel">
												<table class="product-attributes">
													<tbody>
														<tr class="attribute-item">
															<th class="attribute-label">Color</th>
															<td class="attribute-value">Black, Blue, Green</td>
														</tr>
													</tbody>
												</table>
											</div>
										
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-related">
							<div class="section-padding">
								<div class="section-container p-l-r">
									<div class="block block-products slider">
										<div class="block-title">
											<h2>Related Products</h2>
										</div>
										<div class="block-content">

											<div class="content-product-list slick-wrap">

												<div class="slick-sliders products-list grid" data-slidestoscroll="true"
													data-dots="false" data-nav="1" data-columns4="1" data-columns3="2"
													data-columns2="3" data-columns1="3" data-columns1440="4"
													data-columns="4">
													<% products.slice(0, 5).forEach(product => { %>

													<div class="slick-slider">
														  <div class="item-product slick-slide">
															<div class="items">
															  <div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																  <div class="product-lable">
																	  <div class="hot">Hot</div>
																  </div>
																  <div class="product-thumb-hover">
																	<a href="/shopdetails/<%= product._id %>">
																	  <img width="600" height="600" src="/public/products/images/<%= product.images.image1 %>" class="post-image" alt="">
																	  <img width="600" height="600" src="/public/products/images/<%= product.images.image2 %>" class="hover-image back" alt="">
																	</a>
																  </div>
																
																</div>
																<div class="products-content">
																  <div class="contents text-center">
																	<h3 class="product-title"><a href="/shopdetails/<%= product._id %>"><%= product.product_name %></a></h3>
																
																	<span class="price">
																		<% if (product.discountedAmount> 0) { %>

																			<span class="price">
																				<del aria-hidden="true"><span>&#8377;
																						<%= product.product_price.toFixed(2)
																							%></span></del>
																				<ins><span>&#8377;<%=
																							product.discountedAmount.toFixed(2)
																							%></span></ins>
																			</span>
																			<% } else { %>
																				<span class="price">&#8377;<%=
																						product.product_price.toFixed(2)
																						%></span>
																				<% } %>
																	</span>
																  </div>
																</div>
															  </div>
															</div>
														  </div>
													  </div>
													 
													  <% }); %>


												
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- #content -->
			</div><!-- #primary -->
		</div><!-- #main-content -->
	</div>

	<script>
		function addToCart(id) {
			$.ajax({
				url: "/add-to-cart",
				method: "post",
				data: { id: id },
			}).done((data) => {
				if (data.outofstock) {
					Swal.fire('product is out of stock')
				} else if (data.success) {
					Swal.fire('product added to cart')
				} else {
					Swal.fire('login to add')

				}
			}).fail(() => {
				alert('An error occurred');
			});
		}
	</script>


	<script>
		function addtoWish(productId) {
			event.preventDefault()

			$.ajax({
				url: '/addToWish',
				method: 'post',
				data: {
					proId: productId
				},
				success: (response) => {
					if (response.success === true) { 
						Swal.fire({
							title: 'Success!',
							text: 'applied',
							icon: 'success',
							timer: 1500
						});
						$('#reloadDiv').load('/detail #reloadDiv');
					}
					else if (response.NoUser === true) {
						window.location = '/login'
					} else {
						Swal.fire({
							title: 'oops..',
							text: response.message,
							icon: 'error',
							timer: 1500
						});
					}
				},
				error: (err) => {
					console.log(err);
					Swal.fire({
						title: 'Error',
						text: 'Something went wrong',
						icon: 'error',
						timer: 1500
					});
				}
			});
		}

	</script>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
			let selectedRating;

			document.querySelectorAll('.rating input[type="radio"]').forEach(function (star) {
				star.addEventListener('click', function () {
					selectedRating = parseInt(star.value);

					console.log('Selected Rating: ' + selectedRating);

					document.querySelectorAll('.rating input[type="radio"]:checked').forEach(function (checkedStar) {
						checkedStar.removeAttribute('checked');
					});

					for (let i = 1; i <= selectedRating; i++) {
						document.getElementById('').setAttribute('checked');
					}
				});
			});

			document.getElementById('comment-form').addEventListener('submit', function (event) {
				event.preventDefault();

				if (!selectedRating) {
					Swal.fire('Please select a rating.');
					return;
				}

				const reviewText = document.getElementById('comment').value;

				const userId = document.getElementById('userId').value;
				const productId = document.getElementById('productId').value; 
				const formData = {
					productId: productId,
					rating: selectedRating,
					comment: reviewText,
					userId: userId,
				};

				console.log(formData);

				fetch('/submit_review', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify(formData),
				})
					.then(response => response.json())
					.then(data => {
						if (data.success) {
							Swal.fire('Success', data.message, 'success');
							document.getElementById('comment-form').reset();
							location.reload()
						} else {
							Swal.fire('Error', data.message, 'error');
						}
					})
					.catch(error => {
						console.error(error);
						Swal.fire('Error', 'Internal server error', 'error');
					});
			});
		});


	</script>


	<%-include("../userlayouts/footer.ejs")-%>