<%-include("../userlayouts/header.ejs")-%>


		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									<!-- Bed &amp; Bath		 -->
									Shop
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/">Home</a><span class="delimiter"></span>Shop
							</div>
						</div>
					</div>

					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="row">
									<div class="col-xl-3 col-lg-3 col-md-12 col-12 sidebar left-sidebar md-b-50">
										<!-- Block Product Categories -->
										<div class="block block-product-cats">
											<div class="block-title">
												<h2>Categories </h2>
											</div>

											<div class="block-content">


												<div class="product-cats-list">
													<ul>
														<% categories.forEach((category,index)=> { %>
															<li>
																
																<a href="/shop?category=<%= encodeURIComponent(category.category_name) %>&sort=<%= currentSort || 'default' %>">
																	<%= category.category_name %> <span class="count"><%= categoryCounts[index].count %></span>
																  </a>
																  

															</li>
															<% }); %>
													</ul>
												</div>







											</div>


											
											  


										</div>



										<!-- Block Product Filter -->


										<!-- Block Product Filter -->
										<div class="block block-product-filter clearfix">
											<div class="block-title">
												<h2>Brands</h2>
											</div>
											<div class="block-content">
												<ul class="filter-items image">
													<li><span><img src="/public/usernew/media/brand/1.jpg"
																alt="Brand"></span></li>
													<li><span><img src="/public/usernew/media/brand/2.jpg"
																alt="Brand"></span></li>
													<li><span><img src="/public/usernew/media/brand/3.jpg"
																alt="Brand"></span></li>
													<li><span><img src="/public/usernew/media/brand/4.jpg"
																alt="Brand"></span></li>
													<li><span><img src="/public/usernew/media/brand/5.jpg"
																alt="Brand"></span></li>
												</ul>
											</div>
										</div>

										<!-- Block Products -->
										<div class="block block-products">
											<div class="block-title">
												<h2>Feature Product</h2>
											</div>
											<div class="block-content">
												<ul class="products-list">
													
														<% const topThreeProducts=products.slice(0, 3); %>

															<% topThreeProducts.forEach(product=> { %>
																<li class="product-item">
																	<a href="/shopdetails/<%= product._id %>"
																		class="product-image">
																		<img
																			src="/public/products/images/<%= product.images.image1 %>">
																	</a>
																	<div class="product-content">
																		<h2 class="product-title">
																			<a href="/shopdetails/<%= product._id %>">
																				<%= product.product_name %>
																			</a>
																		</h2>
																		<div class="rating small">
																		</div>
																		<span class="price">
																			<% if (product.discountedAmount &&
																				product.discountedAmount <
																				product.product_price) { %>
																				<del aria-hidden="true"><span>$<%=
																							product.product_price.toFixed(2)
																							%></span></del>
																				<ins><span>$<%=
																							product.discountedAmount.toFixed(2)
																							%></span></ins>
																				<% } else { %>
																					<span>$<%=
																							product.product_price.toFixed(2)
																							%></span>
																					<% } %>
																		</span>
																	</div>
																</li>
																<% }); %>



												</ul>
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-9 col-md-12 col-12">
										<div class="products-topbar clearfix">
											<div class="products-topbar-left">



												<form class="search1">
													<input type="text" , placeholder="Search products" name="search">
													<input type="submit" value="search">
												</form>

											</div>
											<div class="products-topbar-right">

												<div class="products-sort dropdown">
													<span class="sort-toggle dropdown-toggle" data-toggle="dropdown"
														aria-expanded="true">Sort by <%= currentSort
															|| 'Default sorting' %></span>
													<ul class="sort-list dropdown-menu" x-placement="bottom-start">
														<li class="<%= currentSort === 'default' ? 'active' : '' %>">
															
																<a href="/shop?category=<%= selectedCategory %>&sort=default">Default sorting</a>
															</li>

														<li class="<%= currentSort === 'lowtohigh' ? 'active' : '' %>">
															
																<a href="/shop?category=<%= selectedCategory %>&sort=lowtohigh">Sort by price: low to high</a>
														</li>
														<li class="<%= currentSort === 'hightolow' ? 'active' : '' %>">
														
																<a href="/shop?category=<%= selectedCategory %>&sort=hightolow">Sort by price: high to low</a>
														</li>
													</ul>
												</div>
												
												  
												<ul class="layout-toggle nav nav-tabs">
													<li class="nav-item">
														<a class="layout-grid nav-link active" data-toggle="tab"
															href="#layout-grid" role="tab"><span
																class="icon-column"><span
																	class="layer first"><span></span><span></span><span></span></span><span
																	class="layer middle"><span></span><span></span><span></span></span><span
																	class="layer last"><span></span><span></span><span></span></span></span></a>
													</li>
													<li class="nav-item">
														<a class="layout-list nav-link" data-toggle="tab"
															href="#layout-list" role="tab"><span
																	class="icon-column"><span
																	class="layer first"><span></span><span></span></span><span
																	class="layer middle"><span></span><span></span></span><span
																	class="layer last"><span></span><span></span></span></span></a>
													</li>
												</ul>
											</div>
										</div>

										<div class="tab-content">
											<div class="tab-pane fade show active" id="layout-grid" role="tabpanel">
												<div class="products-list grid">
													<div class="row">
														

														<% if (products.length > 0) { %>
														  <% for(let product of products){ %>
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
															  <div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
													  
																  <% if (product.discountedAmount > 0) { %>
																	<div class="product-lable">
																	  <div class="onsale">-<%= Math.max(product.discount, product.category_discount) %>% off</div>
																	</div>
																  <% } %>
													  
																  <div class="product-thumb-hover">
																	<a href="/shopdetails/<%= product._id %>">
																	  <img src="/public/products/images/<%= product.images.image1 %>" alt="">
																	</a>
																  </div>
													  
																  <div class="product-button">
																	<div class="btn-add-to-cart" data-title="Add to cart">
																	  <a onclick="addToCart('<%= product._id %>')" style="cursor: pointer;">Add to cart</a>
																	</div>
																	<div class="" data-title="Wishlist">
																	  <button class="product-btn" onclick="addtoWish('<%= product._id %>')"></button>
																	</div>
																  </div>
																</div>
													  
																<div class="products-content">
																  <div class="contents text-center">
																	<h3 class="product-title">
																	  <a href="/shopdetails/<%= product._id %>"><%= product.product_name %></a>
																	</h3>
													  
																	<% if (product.discountedAmount > 0) { %>
																	  <span class="price">
																		<del aria-hidden="true"><span>&#8377;<%= product.product_price.toFixed(2) %></span></del>
																		<ins><span>&#8377;<%= product.discountedAmount.toFixed(2) %></span></ins>
																	  </span>
																	<% } else { %>
																	  <span class="price">&#8377;<%= product.product_price.toFixed(2) %></span>
																	<% } %>
													  
																	<% if (product.reviews.length > 0) { %>
																	  <div class="rating">
																		<% const totalRatings = product.reviews.reduce((sum, review) => sum + review.rating, 0); %>
																		<% const averageRating = totalRatings / product.reviews.length; %>
																		<div class="star star-<%= Math.round(averageRating) %>"></div>
																	  </div>
																	<% } %>
																  </div>
																</div>
															  </div>
															</div>
														  <% }; %>
														<% } else { %>
														  <div class="col-12 text-center">
															<p>No products found.</p>
														  </div>
														<% } %>
													  </div>

													 
													  
													
												</div>
											</div>
												
										</div>

										


										<nav class="pagination" aria-label="Page navigation">
											<ul class="page-numbers">
											  <% if (currentPage > 1) { %>
												<li>
												  <a class="prev page-numbers"
													href="?page=<%= currentPage - 1 %>&search=<%= search %>&sort=<%= currentSort %>">
													Previous
												  </a>
												</li>
											  <% } %>
										  
											  <% for (let i = 1; i <= totalPages; i++) { %>
												<% if (i === currentPage) { %>
												  <li class="page-item active" aria-current="page">
													<span class="page-link bg-dark text-white border-dark">
													  <%= i %><span class="sr-only">(current)</span>
													</span>
												  </li>
												<% } else { %>
												  <li class="page-item">
													<a class="page-link"
													  href="?page=<%= i %>&search=<%= search %>&sort=<%= currentSort %>">
													  <%= i %>
													</a>
												  </li>
												<% } %>
											  <% } %>
										  
											  <% if (currentPage < totalPages) { %>
												<li>
												  <a class="next page-numbers"
													href="?page=<%= currentPage + 1 %>&search=<%= search %>&sort=<%= currentSort %>">
													Next
												  </a>
												</li>
											  <% } %>
											</ul>
										  </nav>
										  
										  
										  

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>
	
		  
		<script>
			function addToCart(id) {
				$.ajax({
					url: "/add-to-cart",
					method: "post",
					data: { id: id },
				}).done((data) => {
					if (data.outofstock) {
						// alert('product is out of stock');
						Swal.fire('product is out of stock')
					} else if (data.success) {
						Swal.fire('product added to cart')
					} else {
						Swal.fire('login to add')
	
					}
				}).fail(() => {
					alert('An error occurred');
				});
			}
		</script>		
		<script>
			function addtoWish(productId) {
				event.preventDefault()
	
				$.ajax({
					url: '/addToWish',
					method: 'post',
					data: {
						proId: productId
					},
					success: (response) => {
						if (response.success === true) { // Corrected from Response.success to response.success
							Swal.fire({
								title: 'product added to wishlist!',
								text: '',
								icon: 'success',
								timer: 1500
							});
							$('#reloadDiv').load('/detail #reloadDiv');
						}
						else if (response.NoUser === true) {
							window.location = '/login'
						} else {
							Swal.fire({
								title: '',
								text: response.message,
								icon: 'error',
								timer: 1500
							});
						}
					},
					error: (err) => {
						console.log(err);
						Swal.fire({
							title: 'Error',
							text: 'Something went wrong',
							icon: 'error',
							timer: 1500
						});
					}
				});
			}
	
		</script>

<%-include("../userlayouts/footer.ejs")-%>