<%-include("../userlayouts/header.ejs")-%>


		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									Wallet Transactions
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/">Home</a><span class="delimiter"></span>Wallet Transactions
							</div>
						</div>
					</div>


					<div class="container">
						<div id="content" class="site-content" role="main">
							<div class="section-padding">
								<div class="section-container p-l-r">
									<div class="page-my-account">
										<% if (walletHistory.length > 0) { %>
										<div class="my-account-wrap clearfix">
											
											<h1>Wallet Transactions</h1>
											<div class="my-account-account-details">


												
												<table>
													<thead>
														<tr>
															<th class="pr-5">Date</th>
															<th class="pr-5">Amount</th>
															<th class="pr-5">Description</th>
															<th class="pr-5">Type</th>

															<th>Balance</th>
														</tr>
													</thead>
													<tbody>
														<% let balance=0; %>
															<% walletHistory.forEach(entry=> { %>
																<tr>
																	<td>
																		<%= entry.date %>
																	</td>
																	<td>
																		<%= entry.amount.toFixed(2) %>
																	</td>
																	<td>
																		<%= entry.description %>
																	</td>
																	<td>
																		<%= entry.transactionType %>
																	</td>
																	<% if (entry.transactionType==='Debit' ) { %>
																		<% balance -=entry.amount; %>
																			<% } else { %>
																				<% balance +=entry.amount; %>
																					<% } %>

																						<td>
																							<%= balance.toFixed(2) %>
																						</td>
																</tr>
																<% }); %>
													</tbody>
												</table>


											</div>
											<!-- </div>
												</div>
											</div> -->
										</div>
										<% } else { %>
											
												<p>No wallet history available.</p>
											
										<% } %>
									</div>
								</div>
							</div>
						</div>

					</div>




				</div>
			</div>
		</div>

		


<%-include("../userlayouts/footer.ejs")-%>