<%-include("../userlayouts/header.ejs")-%>


	<div id="site-main" class="site-main">
		<div id="main-content" class="main-content">
			<div id="primary" class="content-area">
				<div id="title" class="page-title">
					<div class="section-container">
						<div class="content-title-heading">
							<h1 class="text-title-heading">
								Wishlist
							</h1>
						</div>
						<div class="breadcrumbs">
							<a href="/">Home</a><span class="delimiter"></span><a href="/shop">Shop</a><span
								class="delimiter"></span>Wishlist
						</div>
					</div>
				</div>

				<div id="content" class="site-content" role="main">
					<div class="section-padding">
						<div class="section-container p-l-r">
							<div class="shop-wishlist">
								<table class="wishlist-items">
									<tbody>
										<% if (wish && wish.products) { %>
											<% wish.products.forEach((wish)=> { %>

												<tr class="wishlist-item">
													<td class="wishlist-item-remove"
														onclick="removeFromWish('<%= wish.productId._id %>')">
														<span></span>
													</td>
													<td class="wishlist-item-image">
														<a href="shop-details.html">
															<img width="600" height="600"
																src="/public/products/images/<%= wish.productId.images.image1 %>"
																alt="">
														</a>
													</td>
													<td class="wishlist-item-info">
														<div class="wishlist-item-name">
															<a href="shop-details.html">
																<%= wish.productId.product_name %>
															</a>
														</div>
														<div class="wishlist-item-price">

															<% if (wish.productId.discountedAmount> 0) { %>
																&#8377; <%= wish.productId.discountedAmount.toFixed(2)
																	%>
																	<del aria-hidden="true"><span
																			class="text-danger">&#8377;<%=
																				wish.productId.product_price.toFixed(2)
																				%></span></del>

																	<% } else { %>
																		&#8377;<%=
																			wish.productId.product_price.toFixed(2) %>
																			<% } %>
														</div>
														<div class="wishlist-item-time"></div>
													</td>
													<td class="wishlist-item-actions">
														<!-- <div class="wishlist-item-stock">
															In stock                                    
														</div> -->
														<div class="wishlist-item-add ">
															<div class="">

																<a onclick="addToCart('<%= wish.productId._id %>')"
																	class="button text-white" tabindex="0"
																	style="cursor: pointer;"> Add To Cart</a>

															</div>
														</div>
													</td>
												</tr>
												<% }) %>
													<% } else { %>

														<div class="d-flex flex-column align-items-center text-center" >
															<img src="/public/usernew/media/Animation - 1701628073629.gif" class="img-fluid" >
															<p>Nothing in your wishlist yet? Start shopping now!</p>
															<a href="/shop" >Shop Now</a>
															
														</div>

														<% } %>
									</tbody>
								</table>




							</div>
						</div>
					</div>
				</div><!-- #content -->
			</div><!-- #primary -->
		</div><!-- #main-content -->
	</div>



	<script>
		function addToCart(id) {
			$.ajax({
				url: "/add-to-cart",
				method: "post",
				data: { id: id },
			}).done((data) => {
				if (data.outofstock) {
					// alert('product is out of stock');
					Swal.fire('product is out of stock')
				} else if (data.success) {
					Swal.fire('product added to cart')
				} else {
					Swal.fire('login to add')

				}
			}).fail(() => {
				alert('An error occurred');
			});
		}
	</script>

	<script>
		function removeFromWish(productId) {
			$.ajax({
				url: '/wish-delete',
				method: 'delete',
				data: {
					proId: productId
				},
				success: (response) => {
					if (response.success) {
						$('#reloadDiv').load('/wishlist #reloadDiv', () => {
							// Optional: Show a notification that the product was removed
							console.log('Product removed from wishlist');
						})
					} else {
						// Optional: Show an error notification
						console.error(response.message);
					}
				},
				error: (err) => {
					console.log(err.message);
					// Optional: Show an error notification
					console.error('Error removing product from wishlist');
				}
			})
		}
	</script>

	<%-include("../userlayouts/footer.ejs")-%>